@{
    ViewData["Title"] = "Kültür Cinema";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <section id="main">
        <h1 class="showcase-heading">Showcase</h1>
        <ul id="autoWidth" class="cs-hidden">
            <li class="item-a">
                <div class="showcase-box">
                    <img src="~/images/image.jpg" />
                </div>
            </li>
            <li class="item-b">
                <div class="showcase-box">
                    <img src="~/images/image2.jpg" />

                </div>
            </li>
            <li class="item-c">
                <div class="showcase-box">
                    <img src="~/images/image3.jpg" />

                </div>
            </li>
            <li class="item-d">
                <div class="showcase-box">
                    <img src="~/images/image4.jpg" />

                </div>
            </li>
            <li class="item-e">
                <div class="showcase-box">
                    <img src="~/images/image5.jpg" />

                </div>
            </li>
        </ul>

    </section>
</div>

<section id="latest">
    <h2 class="latest-heading">Movies On Sale</h2>

    <ul id="autoWidth2" class="cs-hidden">
        <li class="item-a">
            <div class="latest-box">
                <div class="latest-b-img">
                    <img src="~/images/m-1.jpg" />

                </div>
                <div class="latest-b-text">
                    <strong>Oppenheimer</strong>
                    <p>Drama/Thriller Movie</p>
                </div>

            </div>
        </li>
        <li class="item-b">
            <div class="latest-box">
                <div class="latest-b-img">
                    <img src="~/images/m-2.jpg" />

                </div>
                <div class="latest-b-text">
                    <strong>Meg 2</strong>
                    <p>Action/Adventure Movie</p>
                </div>

            </div>
        </li>
        <li class="item-c">
            <div class="latest-box">
                <div class="latest-b-img">
                    <img src="~/images/m-3.jpg" />

                </div>
                <div class="latest-b-text">
                    <strong>Barbie</strong>
                    <p>Comedy/Drama Movie</p>
                </div>

            </div>
        </li>
        <li class="item-d">
            <div class="latest-box">
                <div class="latest-b-img">
                    <img src="~/images/m-4.jpg" />

                </div>
                <div class="latest-b-text">
                    <strong>The Exorcism of God</strong>
                    <p>Horror/Drama Movie</p>
                </div>

            </div>
        </li>
        <li class="item-e">
            <div class="latest-box">
                <div class="latest-b-img">
                    <img src="~/images/m-5.jpg" />

                </div>
                <div class="latest-b-text">
                    <strong>Thor Love and Thunder</strong>
                    <p>Action/Adventure Movie</p>
                </div>

            </div>
        </li>
        <li class="item-f">
            <div class="latest-box">
                <div class="latest-b-img">
                    <img src="~/images/m-6.jpg" />

                </div>
                <div class="latest-b-text">
                    <strong>Jurassic World Dominion</strong>
                    <p>Action/Sci-Fi Movie</p>
                </div>

            </div>
        </li>
        <li class="item-g">
            <div class="latest-box">
                <div class="latest-b-img">
                    <img src="~/images/m-7.jpg" />

                </div>
                <div class="latest-b-text">
                    <strong>Blade Runner</strong>
                    <p>Sci-Fi/Action Movie</p>
                </div>

            </div>
        </li>
        <li class="item-h">
            <div class="latest-box">
                <div class="latest-b-img">
                    <img src="~/images/m-8.jpg" />

                </div>
                <div class="latest-b-text">
                    <strong>Spider Man No Way Home</strong>
                    <p>Sci-Fi/Action Movie</p>
                </div>

            </div>
        </li>
        <li class="item-ı">
            <div class="latest-box">
                <div class="latest-b-img">
                    <img src="~/images/m-9.jpg" />

                </div>
                <div class="latest-b-text">
                    <strong>Loki</strong>
                    <p>Action Movie</p>
                </div>

            </div>
        </li>
        <li class="item-i">
            <div class="latest-box">
                <div class="latest-b-img">
                    <img src="~/images/m-10.jpg" />

                </div>
                <div class="latest-b-text">
                    <strong>Inception</strong>
                    <p>Sci-Fi/Action Movie</p>
                </div>

            </div>
        </li>
    </ul>
</section>

<section id="latest2">
    <h2 class="latest-heading2">Theaters On Sale</h2>

    <ul id="autoWidth2" class="cs-hidden">
        <li class="item-a">
            <div class="latest-box2">
                <div class="latest-b-img2">
                    <img src="~/images/t-1.jpg" />

                </div>
                <div class="latest-b-text2">
                    <strong>Bir Delinin Hatıra Defteri</strong>
                    <p>Tragedy/Drama Theater</p>
                </div>

            </div>
        </li>
        <li class="item-b">
            <div class="latest-box2">
                <div class="latest-b-img2">
                    <img src="~/images/t-2.jpg" />

                </div>
                <div class="latest-b-text2">
                    <strong>Caligula</strong>
                    <p>Income Theater</p>
                </div>

            </div>
        </li>
        <li class="item-c">
            <div class="latest-box2">
                <div class="latest-b-img2">
                    <img src="~/images/t-3.jpg" />

                </div>
                <div class="latest-b-text2">
                    <strong>Aşkın En Kısa Gecesi</strong>
                    <p>Comedy Theater</p>
                </div>

            </div>
        </li>
        <li class="item-d">
            <div class="latest-box2">

                <div class="latest-b-img2">
                    <img src="~/images/t-4.jpg" />
                </div>
                <div class="latest-b-text2">
                    <strong>Piraye</strong>
                    <p>Tragedy/Drama Theater</p>
                </div>

            </div>
        </li>
        <li class="item-e">
            <div class="latest-box2">
                <div class="latest-b-img2">
                    <img src="~/images/t-5.jpg" />

                </div>
                <div class="latest-b-text2">
                    <strong>Haybeden Gerçeküstü Aşk</strong>
                    <p>Comedy Theater</p>
                </div>

            </div>
        </li>
        <li class="item-f">
            <div class="latest-box2">
                <div class="latest-b-img2">
                    <img src="~/images/t-6.jpg" />

                </div>
                <div class="latest-b-text2">
                    <strong>Korkuyu Beklerken</strong>
                    <p>Tragedy/Drama Theater</p>
                </div>

            </div>
        </li>
        <li class="item-g">
            <div class="latest-box2">
                <div class="latest-b-img2">
                    <img src="~/images/t-7.jpg" />

                </div>
                <div class="latest-b-text2">
                    <strong>Yaşamaya Dair</strong>
                    <p>Tragedy/Drama Theater</p>
                </div>

            </div>
        </li>
        <li class="item-h">
            <div class="latest-box2">
                <div class="latest-b-img2">
                    <img src="~/images/t-8.jpg" />

                </div>
                <div class="latest-b-text2">
                    <strong>12. Gece</strong>
                    <p>Comedy Theater</p>
                </div>

            </div>
        </li>

        <li class="item-i">
            <div class="latest-box2">
                <div class="latest-b-img2">
                    <img src="~/images/t-10.jpg" />

                </div>
                <div class="latest-b-text2">
                    <strong>1984 - Büyük Gözaltı</strong>
                    <p>Tragedy/Drama Theater</p>
                </div>

            </div>
        </li>
        <li class="item-j">
            <div class="latest-box2">
                <div class="latest-b-img2">
                    <img src="~/images/t-11.jpg" />

                </div>
                <div class="latest-b-text2">
                    <strong>JMadonna Kürk Mantolu</strong>
                    <p>Tragedy/Drama Theater</p>
                </div>

            </div>
        </li>
    </ul>
</section>


<div class="heading">
    <h1>About Us</h1>
    <p>Experience entertainment effortlessly through our cinema and theatre reservation webpage. Discover movies and live performances, pick seats, and book with ease. Real-time updates and secure payments make reserving for blockbusters or plays a breeze. Elevate your plans and create unforgettable moments with us.</p>

</div>
<div class="container">
    <section class="about">
        <div class="about-image">
            <img src="~/images/cinema.jpg" />

        </div>
        <div class="about-content">
            <h2>"Seamless Cinema and Theatre Reservations: Your Ticket to Entertainment Excellence"</h2>
            <p>Welcome to our state-of-the-art cinema and theatre reservation web page, where the magic of entertainment meets the convenience of technology. Embark on a journey of cinematic delight as you explore an array of captivating movies and captivating live performances, all at your fingertips. Our user-friendly platform ensures a seamless experience, allowing you to browse showtimes, select your preferred seats, and book tickets effortlessly. With real-time seating availability updates and secure payment options, reserving your spot for that highly anticipated blockbuster or enchanting theatrical production has never been easier. Whether you're an avid moviegoer or a devoted theatre enthusiast, our reservation web page is your gateway to a world of visual and emotional experiences, all tailored to your preferences. Elevate your entertainment plans today and let us be your companion in curating unforgettable moments at the cinema or theatre of your choice.</p>

        </div>
    </section>
</div>
<div class="container1">
    <h1>Our Location</h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24092.41490532164!2d28.7940265743164!3d40.991292800000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa35ee1fdc1b1%3A0x658a212e6b4359b5!2zVC5DLiDEsHN0YW5idWwgS8O8bHTDvHIgw5xuaXZlcnNpdGVzaQ!5e0!3m2!1str!2str!4v1692303271046!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="text">
        <h2>Location</h2>
        <p>Ataköy,İstanbul</p>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#autoWidth, #autoWidth2').lightSlider({
                autoWidth: true,
                loop: true,
                onSliderLoad: function () {
                    $('#autoWidth, #autoWidth2').removeClass('cS-hidden');
                }
            });
        });
    </script>
}
