.btn-2 {
    background: #2ecc71;
    color: #fff;
}

    .btn-2:hover {
        background: #27ae60;
    }

    .btn-2:active {
        background: #27ae60;
        top: 2px;
    }

    .btn-2:before {
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        line-height: 3;
        font-size: 140%;
        width: 60px;
    }
